

#left-column, #right-column {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#left-column {
  //    设置左右区域的分割条
  border-right: 1px dotted #c8d1ba;
}

.editorContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  //    消除最外层有滚动条
  overflow: hidden;
  box-sizing: border-box;
  font-size: @fontSize;
}

.editorContainer .noteTitle input {
  color: #707070;
  font-size: 20px;
  font-weight: 100;
  padding: 30px 20px 10px 20px;
  width: 100%;
//  不加这一句会导致input获得焦点时，会微小的改变布局
  border: 1px dotted #fff;
}

.editorContainer .noteTitle input:focus {
  //    取消 border 获得焦点时的边框
  border-bottom: 1px dotted #4697dd;
  outline: none;
}

.editorTools {
  background-color: #dedede;
}

.wmd-panel-editor, .preview-container, #wmd-input {
  height: 100%;
}

.preview-container {
  overflow: auto;
  height: 40px;
}

#wmd-input {
  padding: @wmdInputPadding;
  color: #767676;
//  取消textarea获得焦点时的边框
  outline: none;
//  去掉边框
  border: 0px;
  line-height: 25px;
}

.wmd-panel-editor, .wmd-panel-preview, #wmd-input, #wmd-preview {
  height: 100%;
  width: 100%;
}

.wmd-panel-preview {
  background-color: #cbcdc4;
}

#wmd-input, #md-section-helper{
  width: 100%;
  font-family: @fontFamily;
//  不知道为什么会有element.style覆盖这个样式
  font-size: @fontSize;
  /*用户不可改变大小*/
  resize: none;
}

#wmd-preview {
  overflow: auto;
  padding: @wmdInputPadding;
}

/*按钮组*/
.wmd-button-row {
  padding: 0px;
}

/*本来是按钮间隔的一条竖线, 隐藏起来
但是没有起作用
*/
.wmd-spacer {
  /*0表示默认值*/
  margin: 0 10px;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

//设置工具栏图标颜色
.wmd-button.btn {
  color: #797d71;
}

// 鼠标飘过工具栏图标时的颜色
.wmd-button.btn:hover {
  background-color: #5f6357;
  color: #e6ead5;
}
.wmd-button > i:hover {
  color: #e6ead5;
}

#md-section-helper {
  position: absolute;
  top: -100px;
  height: 0px;
  padding: 0 6px;
  overflow-y: scroll;
  z-index: -1;
}