
// 铺满整个屏幕
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}

.headerMenu {
  overflow: visible;
}

.editor {
//  实现铺满剩余空间
  position: absolute;
  top: 85px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.left-buttons {
  float: left;
}

.navbar .nav {
  margin: 5px 9px;
}

// 覆盖bootstrap默认样式
.navbar-default {
  margin: 0px;
  min-height: 0;
}

#left-column, #right-column {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#left-column {
  //    设置左右区域的分割条
  border-right: 1px dotted #c8d1ba;
}

.editorContainer {
  position: absolute;
  top: 0px;
  left: @headerWidth;
  right: 0px;
  bottom: 0px;
  //    消除最外层有滚动条
  overflow: hidden;
  box-sizing: border-box;
  font-size: @fontSize;
}

.editorContainer .noteTitle input {
  color: #707070;
  font-size: 14px;
  font-weight: bold;
//  padding: 10px 20px 5px 20px;
  width: 100%;
//  不加这一句会导致input获得焦点时，会微小的改变布局
  border: 1px dotted #fff;
}

.editorContainer .noteTitle input:focus {
  //    取消 border 获得焦点时的边框
  border-bottom: 1px dotted #4697dd;
  outline: none;
}

.editorTools {
  background-color: #dedede;
}

.wmd-panel-editor, .preview-container, #wmd-input {
  height: 100%;
}

.preview-container {
  overflow: auto;
  height: 40px;
}

#wmd-input {
  padding: @wmdInputPadding;
  color: #767676;
//  取消textarea获得焦点时的边框
  outline: none;
//  去掉边框
  border: 0px;
  line-height: 25px;
}

.wmd-panel-editor, .wmd-panel-preview, #wmd-input, #wmd-preview {
  height: 100%;
  width: 100%;
}

.wmd-panel-preview {
  background-color: #cbcdc4;
}

#wmd-input, #md-section-helper{
  width: 100%;
  font-family: @fontFamily;
//  不知道为什么会有element.style覆盖这个样式
  font-size: @fontSize;
  /*用户不可改变大小*/
  resize: none;
}

#wmd-preview {
  overflow: auto;
  padding: @wmdInputPadding;
}

/*按钮组*/
.wmd-button-row {
  padding: 0px;
  width: 100%;
}

/*本来是按钮间隔的一条竖线, 隐藏起来
但是没有起作用
*/
.wmd-spacer {
  width: 1px;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

//设置工具栏图标颜色
.wmd-button.btn {
  color: #797d71;
}

// 鼠标飘过工具栏图标时的颜色
.wmd-button.btn:hover {
  background-color: #5f6357;
  color: #e6ead5;
}

// wmd-button-bar 工具栏上的 label
.editorTools .label {
  font-size: 12px;
  color: #797d71;
  line-height: 25px;
  font-weight: normal;
}

#md-section-helper {
  position: absolute;
  top: -100px;
  height: 0px;
  padding: 0 6px;
  overflow-y: scroll;
  z-index: -1;
  visibility: hidden;
}

// 笔记本选择
.noteBookSelect {
  color: #838383;
}

.dropdown {
  cursor: pointer;
  display: inline-block;
}

.dropdown-menu {
  cursor: default;
}

.selectPanel {
  width: 326px;
}

.filterPanel {
  margin-bottom: 20px;
}

.filterPanel i {
  position: absolute;
  margin-top: 29px;
  margin-left: 27px;
  color: #bbb;
}

.filterPanel input {
  margin: 16px 16px 0;
  outline: none;
  width: 290px;
  padding: 10px 30px 9px;
  border-radius: 2px;
  border: 1px solid #eee;
}

.notebook {
  display: inline-block;
  width: 100%;
}

.selectState {
  display: inline-block;
  position: absolute;
  display: none;
}

.select .selectState {
  display: inline-block;
}

.noteBookSelect .createNotebookButton {
  position: absolute;
  margin-left: -70px;
  margin-top: 26px;
  padding: 0 10px;
}

//创建笔记本

.createNotebookContainer {
  padding-top: 80px;
  margin: auto;
  color: #878787;
  text-align: center;
}

.containerLabel {
  margin: 20px;
  font-size: 32px;
}

.containerSeprator {
  margin: 0 auto 40px auto;
  width: 200px;
  border-bottom: 1px solid #d9d9d9;
}

.containerInput input {
  text-align: center;
  outline: none;
  border-radius: 2px;
  border: 0px solid #eee;
  margin: 16px 16px 0;
  font-size: 30px;
}

.containerButtons {
  margin-top: 50px;
}

.containerButtons .btn {
  margin: 5px;
  padding: 9px 14px;
  min-width: 160px;
  color: #878787;
}

//　列表样式
.slidingPanel {
  overflow: auto;
  cursor: default;
  border-top: 1px solid #eee;

//  去掉默认 ul 样式
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.slidingPanel > li.select {
  color: #2dbe60;
}

.slidingPanel > li:hover {
  background: #3ebc6b;
  color: #fff;
}

.slidingPanel > li {
  cursor: pointer;
  padding: 0 26px;
  font-family: caecilia, times, serif;
  font-size: 16px;
  font-weight: 400;
  padding: 21px 26px 26px 13px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e5e5e5;
}

//　按钮样式

.btn {
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
}

.btn.btn-cancel {
  border: 1px solid #d9d9d9;
  background-color: #ececec;
  color: #606060;
}

.btn.btn-cancel:hover {
  background-color: #d9d9d9;
  border: 1px solid #d1d1d1;
}

.btn.btn-confirm {
  color: WHITE;
  background-color: #2dbe60;
  border: 1px solid #2dbe60;
}

.btn.btn-confirm:hover {
  background-color: #28a955;
  border: 1px solid #28a955;
}

// 显示所有笔记
.NoteListContainer .slidingPanel {
  margin: 0 auto;
  width: 654px;
}