

@fontFamily: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
@fontSize: 18px;
@headerBackgroundColor: #83898a;
@headerHeight: 50px;
@headerIconColor: #232323;

@wmdInputPadding: 20px;

@import "editor";

.hideme {
    display: none;
}

//覆盖 bootstrap 默认
ul {
    margin-bottom: 0px;
}

body {
//    background-color: #f5f5f5;
    background-image: url(../img/honeycomb.png);
    background-repeat: repeat;

    tab-size: 4;
    overflow: auto;
}

#header {
    background: @headerBackgroundColor;
    height: @headerHeight;
    border: 1px solid @headerBackgroundColor;
//    让文字居中
    line-height: @headerHeight;

    border-radius: 0px;

    /*会导致弹出菜单不显示*/
//    overflow: hidden;
}


#left-column, #right-column {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#left-column {
//    设置左右区域的分割条
    border-right: 1px dotted #c8d1ba;
}


#header a, #header i {
    color: @headerIconColor;
}

#action-publish-blog, #action-update-blog {
    display: none;
}